<h3>Héroes <small>{{ heroe.name }}</small></h3>
<button class='btn btn-outline-danger' [routerLink]="['/heroes']"> Regresar </button>
<button class='btn btn-outline-success' (click)='addNew(forma)'> Nuevo Heroe </button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <form (ngSubmit)='save()' #forma='ngForm'>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class='form-control' name="name" [(ngModel)]="heroe.name" placeholder="Nombre del héroe" value="" required>
      </div>

      <div class="form-group">
        <label>Casa</label>
        <select class="form-control" name="house" [(ngModel)]="heroe.house">

          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea name="bio" [(ngModel)]="heroe.bio" class='form-control'></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class='btn btn-outline-primary' [disabled]='!forma.valid'>Guardar cambios</button>
      </div>

    </form>

  </div>
</div>
